# ==============================
# Unreal Engine 5 - Portfolio Version
# ==============================

# Unreal build folders
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Exclude heavy assets for portfolio repo
Content/

# IDE
.vs/
.vscode/
.idea/
*.sln
*.user
*.opensdf
*.sdf
*.suo
*.VC.db
*.VC.opendb
*.vsconfig

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.dmp